/* magento css */
/* @font-face{font-family:'Open Sans';src:url('../fonts/opensans/light/opensans-300.woff2') format('woff2'),url('../fonts/opensans/light/opensans-300.woff') format('woff');font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'Open Sans';src:url('../fonts/opensans/semibold/opensans-600.woff2') format('woff2'),url('../fonts/opensans/semibold/opensans-600.woff') format('woff');font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:'Open Sans';src:url('../fonts/opensans/regular/opensans-400.woff2') format('woff2'),url('../fonts/opensans/regular/opensans-400.woff') format('woff');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Open Sans';src:url('../fonts/opensans/bold/opensans-700.woff2') format('woff2'),url('../fonts/opensans/bold/opensans-700.woff') format('woff');font-weight:700;font-style:normal;font-display:swap}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.minicart-items .action.delete:before {content: '\e604' !important;}
*:focus{box-shadow:none;outline:0}
body .logo img {min-height:90px;}
h2 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
h1 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
h3 {font-weight: 600;line-height: 1.1;
    font-size: 1.8rem;margin-top: 2rem;margin-bottom: 1rem;}
    .columns:after {
    clear: both;content: ' ';display: block;
     height: 0;overflow: hidden;visibility: hidden;}
a, .alink {color: #006bb4;text-decoration: none;}
.widget {clear: both;}
html {font-size: 62.5%;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-size-adjust: 100%;}
p {margin-top: 0rem;margin-bottom: 1rem;}
img, object, video, embed {max-height: 100%;max-width: 100%;}
img {border: 0;}
.block, .customer-review .product-details, .block-banners, .block-banners-inline {margin-bottom: 40px;}
body {
color: #333;font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-style: normal;font-weight: 400;line-height: 1.42857143;
font-size: 1.4rem;background-color: #fff;margin: 0;padding: 0;
}
.block-static-block.widget, .block-cms-link.widget {margin-bottom: 20px;}
.page-wrapper {display: -webkit-flex; display: -ms-flexbox;display: flex; 
     -webkit-flex-direction: column; -ms-flex-direction: column;flex-direction: column;  min-height: 100vh; 
}
article, aside, details, figcaption, figure, main, footer, header, nav, section, summary {display: block;}
small, .small {font-size: 12px;}
ul, ol {margin-top: 0rem;margin-bottom: 2.5rem;}
ul>li, ol>li {margin-top: 0rem;margin-bottom: 1rem;}
b, strong {font-weight: 700;}
button:not(.primary) {
    box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgb(204 204 204 / 30%);
}
button, a.action.primary { border-radius: 3px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.copyright {color: #fff;box-sizing: border-box;
    display: block;padding: 10px;text-align: center;}
.modals-wrapper{display:none;}
a.action.skip.contentarea {display: none;}
.page-header .panel.wrapper{color:#fff;}
.logo {float: left; max-width: 50%;position: relative;z-index: 5;}
.logo img {max-height: inherit;}
.minicart-wrapper {display: inline-block;position: relative;float: right;}
.minicart-wrapper .action.showcart {white-space: nowrap;}
.minicart-wrapper .action.showcart {cursor: pointer;display: inline-block;text-decoration: none;}
.opc-wrapper .form-discount .field .label, .bundle-options-container .block-bundle-summary .product-image-container, .bundle-options-container .block-bundle-summary .product.name, .bundle-options-container .block-bundle-summary .stock, .product-item-actions .actions-secondary>.action span, .special-price .price-label, .table-comparison .cell.label.remove span, .table-comparison .cell.label.product span, .block.related .field.choice .label, .cart.table-wrapper .col.qty .label, .minicart-wrapper .action.showcart .text, .minicart-wrapper .action.showcart .counter-label, .checkout-index-index .page-title-wrapper, .checkout-payment-method .field-select-billing>.label, .checkout-payment-method .payments .legend, .checkout-payment-method .ccard .legend, .fieldset .fullname>.label, .field.street .field .label, .block-balance .balance-price-label, .page-product-downloadable .product-options-wrapper .fieldset .legend.links-title, .page-product-giftcard .fieldset.giftcard>.legend, .opc-wrapper .form-giftcard-account .field .label, .form-add-invitations .fields .label, .filter-options-content .filter-count-label, .table-comparison .wishlist.split.button>.action.split span, .product-items .wishlist.split.button>.action.split span, .page-multiple-wishlist .page-title-wrapper .page-title, .block-wishlist-search-form .form-wishlist-search .fieldset>.legend, .multicheckout .table-wrapper .col .label, .multicheckout .block .methods-shipping .item-content .fieldset>.legend, .block.newsletter .label, .review-date .review-details-label, .customer-review .product-details .rating-average-label, .block-reorder .product-item .label, .action.skip:not(:focus), .page-header .switcher .label, .page-footer .switcher .label, .products-grid.wishlist .product-item .comment-box .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.minicart-wrapper .action.showcart .counter.qty {
    color: #fff;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 18px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
}
.block-search {margin-bottom: 0 !important;}
.block {margin-bottom: 40px;}
.block-search .block-title {display: none;}
.block-search .block-content {margin-bottom: 0;}
.block-search .control {
    border-top: 1px solid #ccc;clear: both;margin: 0 -15px -1px;padding: 0 15px;}
.block-search input {
    left: -300%;margin: 15px 0;}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
.search-autocomplete {display: none;margin-top: -15px;overflow: hidden;position: absolute; z-index: 3;}
.block-search .nested { display: none;}
body .searchsuite-autocomplete {width: auto !important;}
.searchsuite-autocomplete {
    background-color: #fff;border: 1px solid #c2c2c2;box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
    left: -85px;margin-top: 4px;width: 350px;position: absolute;z-index: 9999999;
}
.searchsuite-autocomplete .no-result {padding: 10px;background: #f0f0f0;color: #575757;text-align: center;}
/* success and error message */
.message.success {
    margin: 0 0 10px;
    padding: 12px 20px 12px 25px;
    display: block;
    font-size: 1.3rem;
    background: #e5efe5;
    color: #006400;
    padding-left: 45px;
    position: relative;
}
.message.error {
    margin: 0 0 10px;
    padding: 12px 20px 12px 25px;
    display: block;
    font-size: 1.3rem;
    background: #fae5e5;
    color: #e02b27;
    padding-left: 45px;
    position: relative;
}
.message.success>*:first-child:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: 24px;
    color: #006400;
    content: '\e60e';
    font-family: 'luma-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}
.message.error>*:first-child:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: 24px;
    color: #b30000;
    content: '\e61f';
    font-family: 'luma-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}
/* minicart */
.minicart-wrapper .block-minicart {
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #fff;
    border: 1px solid #bbb;
    margin-top: 4px;
    min-width: 100%;
    width: 320px;
    z-index: 101;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    right: -10px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
}
.minicart-wrapper .action.close>span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.minicart-wrapper .block-minicart .block-title {
    display: none;
}
.block-minicart .subtitle.empty {
    display: block;
    font-size: 14px;
    padding: 30px 0 20px;
    text-align: center;
}
.minicart-wrapper .block-minicart:after {right: 11px;top: -14px;}
.minicart-wrapper .block-minicart:after {
    border: 7px solid;
    border-color: transparent transparent #fff transparent;
    z-index: 98;
}
.minicart-wrapper .block-minicart:before, .minicart-wrapper .block-minicart:after {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.minicart-wrapper:after {clear: both;}
.minicart-wrapper:before, .minicart-wrapper:after {content: '';display: table;}
.minicart-wrapper .action.close {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
}
.minicart-wrapper .action.close:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
    content: '\e616';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.block-minicart .items-total {float: left;margin: 0 10px;}
.block-minicart .items-total .count {font-weight: 700;}
.block-minicart .subtotal {margin: 0 10px 10px;text-align: right;}
.block-minicart .subtotal .label:after, .minicart-items .details-qty .label:after, .minicart-items .price-minicart .label:after, .order-details-items .order-gift-message .label:after, .order-details-items .block-order-details-gift-message .label:after, .block-wishlist-management .wishlist-select .wishlist-name-label:after {
    content: ': ';
}
.block-minicart .amount .price-wrapper:first-child .price {
font-size: 18px;font-weight: 700;}
.price-container .price {font-size: 1.4rem;}
.block-minicart .block-content>.actions {margin-top: 15px;}
.block-minicart .block-content>.actions>.primary {margin: 0 10px 15px;}
.block-minicart .subtitle {display: none;}
.minicart-items-wrapper {
border: 1px solid #ccc;margin: 0 -20px;border-left: 0;
border-right: 0;overflow-x: auto;padding: 15px;
}
.minicart-items {
margin: 0;padding: 0;list-style: none none;}
.minicart-items .product-item:first-child {padding-top: 0;}
.minicart-wrapper .block-minicart li {margin: 0;}
.minicart-items .product-item {padding: 20px 0;}
.product-item:nth-child(2n + 1) {margin-left: 0;}
.product-item {
font-size: 1.4rem;line-height: normal;
letter-spacing: normal;vertical-align: top;
}
.abs-field-date .control, .abs-field-tooltip, .columns .column.main, .columns .sidebar-main, .columns .sidebar-additional, .column .block-addbysku .sku, .product-item, .sidebar .product-items-images .product-item, .search-autocomplete, .cart-summary, .opc-wrapper .shipping-address-item, .shipping-policy-block.field-tooltip .field-tooltip-content, .opc-block-summary, .block-event .slider-panel .slider .item .action.show, .sidebar .block-addbysku .fieldset .fields .field.sku, .form.search.advanced .fields.range .field.date .control, .field .control._with-tooltip, .form-giftregistry-edit .field.date .control {
    box-sizing: border-box;
}
.minicart-items .product>.product-item-photo, .minicart-items .product>.product-image-container {float: left;}
.product-image-container {display: inline-block;max-width: 100%;}
.products-list .product-image-wrapper, .cart.table-wrapper .product-image-wrapper, .minicart-items .product-image-wrapper, .block-giftregistry-shared-items .product-image-wrapper {
    height: auto;
    padding: 0 !important;
}
.product-image-wrapper {
display: block;height: 0;overflow: hidden;position: relative;z-index: 1;}
.products-list .product-image-wrapper .product-image-photo, .cart.table-wrapper .product-image-wrapper .product-image-photo, .minicart-items .product-image-wrapper .product-image-photo, .block-giftregistry-shared-items .product-image-wrapper .product-image-photo {
    position: static;
}
.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.minicart-items .product-item-details {padding-left: 88px;}
.minicart-items .product-item-name {font-weight: 400;margin: 0 0 10px;}
.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}
.product-item-name, .product.name a {font-weight: 400;}
.minicart-items .product-item-name a {color: #006bb4;}
body .minicart-items .product-item-name a {margin-left: 0px !important;}
.product-item-name>a, .product.name a>a {
 color: #333;text-decoration: none;}
.minicart-items .product-item-details .price-including-tax, .minicart-items .product-item-details .price-excluding-tax {
    margin: 5px 0;}
.minimal-price-link, .price-excluding-tax, .price-including-tax {
    display: block;white-space: nowrap;}
.price-including-tax, .price-excluding-tax {
    display: block;font-size: 1.8rem;line-height: 1;}
.minicart-items .product-item-details .price {font-weight: 700;}
.price-container .price {font-size: 1.4rem;}
.price-including-tax .price, .price-excluding-tax .price {font-weight: 700;}
.minicart-items .product-item-details .details-qty {
    margin-top: 10px;
}
.minicart-items .product-item-pricing .label {display: inline-block;}
.minicart-items .item-qty {
    text-align: center;width: 60px;}
body .minicart-wrapper .update-cart-item {float: unset;padding: 7px;}
.minicart-items .update-cart-item {font-size: 1.1rem;vertical-align: top;}
body .minicart-wrapper .product .actions {
    display: inline;float: unset !important;}
.minicart-wrapper .product .actions {float: right;margin: -24px 0 0;}
.minicart-wrapper .product .actions>.primary:not(:last-child), .minicart-wrapper .product .actions>.secondary:not(:last-child) {
    margin-right: 15px;}
body .minicart-wrapper .product .actions>.primary {display: none;}
.minicart-wrapper .product .actions>.primary, .minicart-wrapper .product .actions>.secondary {display: inline;}
.minicart-items .action.edit>span, .minicart-items .action.delete>span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.minicart-items .action.edit:before, .minicart-items .action.delete:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 20px;
    color: #757575;
    content: '\e601';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.block-minicart .block-content>.actions>.secondary {text-align: center;}
.minicart-wrapper .block-minicart:before {right: 12px; top: -12px;}
.minicart-wrapper .block-minicart:before {border: 6px solid; border-color: transparent transparent #fff transparent;z-index: 99;}
.minicart-wrapper .block-minicart {padding: 25px 20px;}
/* search */
form.minisearch.loading .control input[type=text] {
    box-shadow: none;
    -webkit-animation-name: search-loading;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: search-loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.searchsuite-autocomplete .product, .searchsuite-autocomplete .suggest {margin: 0;}
 .searchsuite-autocomplete .title {
 padding: 10px;margin-bottom: 5px;background: #f0f0f0;color: #575757;}
.block .title {display: block;margin-bottom: 10px;}
.searchsuite-autocomplete .title .see-all {float: right;
 color: #909090;cursor: pointer;}
.searchsuite-autocomplete ul { padding: 0 10px;margin-bottom: 0;list-style-type: none;}
.searchsuite-autocomplete .product ul li { border-bottom: 1px solid #d4d2d2;}
.searchsuite-autocomplete ul li {color: #000; cursor: unset;padding: 0;}
.searchsuite-autocomplete ul li .qs-option-image {
    float: left;max-width: 82px; width: 25%;}
.searchsuite-autocomplete ul li a {cursor: pointer;}
.searchsuite-autocomplete ul li .qs-option-info {
 color: #000;display: inline-block;float: left;padding-left: 5%;
 text-align: left;width: 70%;margin-bottom: 10px;
}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-title {
display: inline-block;margin: 0; width: 100%;
}
.searchsuite-autocomplete ul li a {cursor: pointer;}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-reviews {
    display: inline-block;text-transform: lowercase;width: 100%;
}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-sku {
  display: block;width: 100%;color: #004875;font-size: 12px;
}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-description, .searchsuite-autocomplete ul li .qs-option-info .qs-option-shortdescription {
    color: #3c3c3c;font-size: 13px;
}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-price {
display: inline-block;font-weight: 700;margin-top: 15px;
}
.price-container .price {font-size: 1.4rem;}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-addtocart {
 display: inline-block;float: right;margin-top: 10px;
}
.searchsuite-autocomplete ul li:after {
clear: both;content: '';display: block;
}
.searchsuite-autocomplete .no-result {
padding: 10px;background: #f0f0f0;color: #575757;text-align: center;
}
.searchsuite-autocomplete .product ul li:last-child {border-bottom: none;}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: 0 0 3px 1px #00699d;
}
body .block-search input:not([disabled]):focus{box-shadow:none;border:none;}
/* search */
@media only screen and (min-width:768px) {
    .block-search input {position:absolute;}
    h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
	html, body {height: 100%;}
	.page-wrapper {margin: 0;position: relative;transition: margin .3s ease-out 0s;}
	.page-header {border: 0;margin-bottom: 0;}
    .page-header .header.panel {padding-bottom: 10px;padding-top: 10px;}
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }
    .header.panel>.header.links {
        margin: 0;padding: 0;
        list-style: none none;float: right;
        margin-left: auto;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .header.content {padding: 30px 20px 0;    position: relative;}
    .nav-toggle {display: none;}
    .minicart-wrapper {margin-left: 13px;}
    .block-search {
        float: right;position: relative;width: 250px;z-index: 4;
    }
    .block-search .action.search.disabled, .block-search .action.search[disabled], fieldset[disabled] .block-search .action.search {pointer-events: none;opacity: .5;}
    .block-search .action.search {
        display: inline-block;
        background-image: none;
        background: none;
        -moz-box-sizing: content-box;
        border: 0;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 1;
    }
    .block-search .action.search:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
        line-height: 32px;
        color: #757575;
        content: '\e615';
        font-family: 'luma-icons';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }
    .abs-visually-hidden-desktop, .modes-label, .block-search .label, .block-collapsible-nav .title,.block-search .action.search>span {
        border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;
        overflow: hidden;padding: 0;position: absolute;width: 1px;
    }
    .block-search .control {border-top: 0;margin: 0;padding: 0;}
    .block-search input {margin: 0;padding-right: 35px;position: static;}
    .search-autocomplete {margin-top: 0;}
    body .searchsuite-autocomplete {left: auto !important;}
    .sections.nav-sections {display: none;}
    /* minicart */
    .minicart-wrapper .block-minicart {
        width: 390px;}
    .minilist .action.delete:before,.minicart-wrapper .action.edit:before{font-size:16px;line-height:inherit}
    .minicart-wrapper .action.close {
        padding-top: 5px;
    }
}
@media only screen and (max-width: 767px) {
    .move .block-search .action.search {top:auto !important;}
      /* minicart */
    #minicart-content-wrapper .items-total {padding-left: 10px;}
    .minicart-wrapper .product .actions { margin: 10px 0 0 0;}
    .searchsuite-autocomplete {border-top: 0;left: 15px;margin-top: 0;right: 15px;width: auto;}
    .block-search .action.search {
        display: inline-block;background-image: none;background: none; border: 0;box-shadow: none;
        margin: 0;text-decoration: none;text-shadow: none;font-weight: 400; position: absolute;
        top:96px; z-index: 1; background-color: rgb(254, 193, 4); padding: 0px 11px;
        right: 15px; height: 44px;opacity: 1;border-top-right-radius: 5px; border-bottom-right-radius: 5px;width:54px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 375px){
    .nav-toggle {left: 26px !important;}
    body .nav-toggle.ss-mob-menus {left:15px !important;}
}

@media only screen and (max-width: 767px){
    .block, .customer-review .product-details, .block-banners, .block-banners-inline {margin-bottom: 0 !important;}
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-main, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* .panel.header .links, .panel.header .switcher {display: none;} */
    .header.panel>.header.links {
    margin: 0; padding: 0;list-style: none none;float: right;
    font-size: 0; margin-left: auto;margin-right: 20px;}
    .header.panel>.header.links>li {font-size: 14px; margin: 0 0 0 15px;}
    .header.panel>.header.links>li {
     display: inline-block;vertical-align: top;}
     .header.panel>.header.links>li>a {color: #fff;text-decoration: none;}
     .header.content {padding-top: 10px;position: relative;}
    .header.content:before, .header.content:after {
        content: '';
        display: table;
    }
    .nav-toggle {
        display: inline-block;text-decoration: none;display: block;
        font-size: 0;left: 15px;position: absolute;
        top: 15px; z-index: 14;}
        .nav-toggle:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 28px;
        line-height: inherit;
        content: '\e609';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }
    .nav-toggle>span {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .logo {
        margin-bottom: 13px;
        margin-top: 4px;
    }
    .logo {
        float: left;margin: 0 0 10px 40px;
        max-width: 50%;position: relative;z-index: 5;
    }
    .minicart-wrapper {display: inline-block;position: relative;float: right;}
    .minicart-wrapper:before, .minicart-wrapper:after {
     content: '';display: table;}
    body .compare.wrapper {display: none;}
    body .page-header .widget.block { margin: 0px; margin-bottom: 0px;}
    .nav-open .nav-sections {
        -webkit-box-shadow: 0 0 5px 0 rgb(50 50 50 / 75%);
        -moz-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        -ms-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        box-shadow: 0 0 5px 0 rgb(50 50 50 / 75%);
        left: 0;
        z-index: 99;
    }
    .nav-sections {
        -webkit-overflow-scrolling: touch;
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        transition: left .3s;
        height: 100%;
        left: -80%;
        left: calc(-1 * (100% - 54px));
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(100% - 54px);
    }
    .nav-sections {
        background: #f0f0f0;
    }
    .nav-sections-items {
        position: relative;
        z-index: 1;
    }
    .nav-sections-items:before, .nav-sections-items:after {
        content: '';
        display: table;
    }
    .nav-sections-item-content:before, .nav-sections-item-content:after {
        content: '';
        display: table;
    }
    .nav-sections-item-title.active {
        background: transparent;
        border-bottom: 0;
    }
    .nav-sections-item-title {
        background: #e3e3e3;
        border: solid #d7d7d7;
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;
    }
    .nav-sections-item-title .nav-sections-item-switch:hover {
        text-decoration: none;
    }
    .nav-sections-item-content {
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;
        padding: 25px 0;
    }
    .nav-sections .header.links {
        margin: 0;
        padding: 0;
        list-style: none none;
        border-bottom: 1px solid #d1d1d1;
    }
    .nav-sections-item-content:after {
        clear: both;
    }
    .nav-sections .header.links li.greet.welcome {
        border-top: 1px solid #d1d1d1;
        font-weight: 700;
        padding: .8rem 20px;
    }
    .nav-sections .header.links li>a {
        border-top: 1px solid #d1d1d1;
    }
    .nav-sections .header.links a, .nav-sections .header.links a:hover {
        color: #575757;
        text-decoration: none;
        display: block;
        font-weight: 700;
        padding: .8rem 20px;
    }
    
}
/* widget block */
.abs-margin-for-blocks-and-widgets-desktop, .page-main .block, .customer-review .product-details {margin-bottom: 50px;}
.block-compare .block-title, .block-reorder .block-title, .widget .block-title, .block-wishlist .block-title {margin: 0 0 20px; }
.block-compare .block-title strong, .block-reorder .block-title strong, .widget .block-title strong, .block-wishlist .block-title strong {
    font-size: 18px;font-weight: 300;vertical-align: middle;}
.column.main .product-items { margin-left: 0;}
.product-items {font-size: 0;letter-spacing: -1px;line-height: 0;}
.bundle-options-container .block-bundle-summary .bundle.items, .product-items, .prices-tier, .search-terms, .cart-summary .checkout-methods-items, .opc-wrapper .opc, .opc-progress-bar, .checkout-agreements-items, .order-details-items .items-qty, .footer.content ul, .block-banners .banner-items, .block-banners-inline .banner-items, .block-event .slider-panel .slider {
    margin: 0;padding: 0;list-style: none none;}
.products-grid .product-item {display: inline-block;}
.product-items>li {margin: 0;}
.product-item {font-size: 1.4rem;line-height: normal;
letter-spacing: normal;vertical-align: top;}
.product-item{ box-sizing: border-box;}
.block.widget .product-item-info { width: auto;}
.product-item-actions {font-size: 0;}
.product-item-actions .actions-secondary {display: inline-block;
font-size: 1.4rem;vertical-align: middle;}
.product-item-actions .actions-secondary>.action {
    line-height: 35px;text-align: center;width: 35px;box-radius:0px;}
.bundle-options-container .block-bundle-summary .product-addto-links>.action, .product-item-actions .actions-secondary>.action, .product-social-links .action.tocompare, .wishlist.split.button>.action.split, .product-social-links .action.mailto.friend, .product-social-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist {
    color: #666;
 font-weight: 600;letter-spacing: .05em; text-transform: uppercase;
 display: inline-block;text-decoration: none;}
 .product-social-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    content: '\e600';}
.product-item-actions .actions-secondary>.action:before {margin: 0;}
.product-item-actions .actions-secondary>.action:before, .product-item .action.towishlist:before{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    font-family: 'luma-icons';
    margin: -2px 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.product-item-actions .actions-secondary>.action span{
border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;
overflow: hidden;padding: 0;position: absolute;width: 1px;}
.product-image-container {
    display: inline-block; max-width: 100%;}
.product-image-wrapper {
    display: block; height: 0; overflow: hidden;
    position: relative;z-index: 1;}
.product-image-photo {
    bottom: 0;display: block;height: auto;left: 0;margin: auto;
    max-width: 100%;position: absolute;right: 0;top: 0;}
.product-item-actions .actions-primary { display: inline-block;vertical-align: middle;}
.product-item-actions>* {font-size: 1.4rem;}
.product-item .tocart {
 font-size: 1.3rem;border-radius: 0;line-height: 1;
padding-bottom: 10px;padding-top: 10px;white-space: nowrap;}
.action.primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}
.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}
.product-item-name>a, .product.name a>a {color: #333;text-decoration: none;}
.product-item .price-box {margin: 10px 0 25px;}
.product-item .price-box .price {font-weight: 700;white-space: nowrap;}
.price-container .price {font-size: 1.4rem;}
.product-item .product-reviews-summary .rating-summary {margin: 0 4px 0 0;}
.product-reviews-summary .rating-summary {display: inline-block;vertical-align: middle;}
.rating-summary {overflow: hidden;white-space: nowrap;}
.product-reviews-summary .rating-summary .label,.rating-summary .rating-result>span span{
	border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.rating-summary .rating-result {
    width: 88px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.rating-summary .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #c7c7c7;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.rating-summary .rating-result>span {display: block;overflow: hidden;}
.rating-summary .rating-result>span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.product-item .product-reviews-summary .reviews-actions {
    font-size: 12px;margin-top: 5px;}
.product-reviews-summary .reviews-actions {
    display: inline-block;   vertical-align: middle;}
body .customs.product-item-actions .action.primary{border-radius:0px !important;}
body .action.primary:hover {padding: 10px 14px;}
body .customs.product-item-actions .action.primary{padding: 10px 14px;}
.columns .column.main {
    padding-bottom: 40px;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 100%;
}
.columns:after {
clear: both;content: ' ';display: block;
height: 0;overflow: hidden; visibility: hidden;
}
.columns {
 display: -webkit-flex;display: -ms-flexbox;display: flex;
    -webkit-flex-wrap: wrap;flex-wrap: wrap;box-sizing: border-box;}
.page-main {-webkit-flex-grow: 1;flex-grow: 1;}

@media (min-width: 1024px){
.block.widget .products-grid .product-items {margin: 0;}
.page-layout-1column .block.widget .products-grid .product-item:nth-child(5n + 1) { margin-left: 0;}
.page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {margin-left: 2%;}
.block.widget .products-grid .product-item:nth-child(4n + 1) { margin-left: 0;}
.page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 2%;width: calc((100% - 8%)/5);}
.block.widget .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);padding: 0;width: 24.439%;}
.block.widget .products-grid .product-item {width: 20%;}
.page-layout-1column .products-grid .product-item {width: 16.66666667%;}
}

@media only screen and (min-width:768px) {
body .logo-section .part { min-height: 135px;}
.page-layout-1column .block.widget .products-grid .product-item:nth-child(3n + 1) { margin-left: 2%;}
.product-item-info {max-width: 100%;}
body .products-grid .product-item-info:hover {
padding-top: 0px !important;padding-bottom: 0px !important;margin: 0px 0px !important;}
.action.primary:hover {
    background: #006bb4;border: 1px solid #006bb4;color: #fff;}
.page-layout-1column .column.main {
    width: 100%;
-ms-flex-order: 2;
    -webkit-order: 2;order: 2;
}
.columns {display: block;}
.page-main { width: 100%;}
}

@media (min-width: 640px) {
.page-layout-1column .block.widget .products-grid .product-item:nth-child(3n + 1) {margin-left: 0;}
.page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 2%;width: calc((100% - 4%)/3);}
.page-products .products-grid .product-item:nth-child(3n + 1), .page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-layout-3columns .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n + 1) {
    margin-left: 0;}
.page-products .products-grid .product-item, .page-layout-1column .products-grid .product-item, .page-layout-3columns .products-grid .product-item, .page-products.page-layout-1column .products-grid .product-item, .page-products.page-layout-3columns .products-grid .product-item {
    margin-left: 0; width: calc((100% - 4%) / 3);}
.products-grid .product-item {margin-bottom: 20px;width: 33.33333333%;}
.block.widget .products-grid .product-item .product-item-inner, .page-layout-1column .block.widget .products-grid .product-item .product-item-inner, .page-layout-3columns .block.widget .products-grid .product-item .product-item-inner {
  box-shadow: 3px 6px 4px 0 rgb(0 0 0 / 30%);margin: 9px 0 0 -1px;}
  .abs-visually-hidden-desktop-s, .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
border: 0;clip: rect(0, 0, 0, 0); height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.products-grid .product-item-inner {
background: #fff;box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 30%);
border: 1px solid #bbb;border-top: none;left: 0;margin: 10px 0 0 -1px;
padding: 0 9px 9px;position: absolute;right: -1px;z-index: 2;}
.products-grid .product-item-actions {margin: -10px 0 10px;}
.product-item-actions { display: block;}
.products-grid .product-item-actions {margin: -10px 0 10px;}
.product-item-actions { display: block;}
.product-item-actions .actions-primary {display: inline-block;}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    background: #fff;box-shadow: 3px 4px 4px 0 rgb(0 0 0 / 30%);
border: 1px solid #bbb;margin: -10px;padding: 9px;position: relative;z-index: 2;}
.products-grid .product-item-info:hover .product-item-inner, .products-grid .product-item-info.active .product-item-inner {
    display: block;}


}
@media only screen and (max-width:1024px) and (min-width:768px) {
.block.widget .products-grid .product-item {width: 33.33333333%;}
.page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {margin-left: 0;}
.page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 2%;width: calc((100% - 6%)/4);}
}

@media only screen and (max-width:767px) {
    .move .block-search .action.search {bottom:14px !important;}
.block.widget .products-grid .product-item {
    margin-left: 2%;width: calc((100% - 2%)/2);}
.column.main .product-item {padding-left: 0;}
.product-item-actions>* {font-size: 1.4rem;}
.product-item-actions {display: block;}
.block.widget .products-grid .product-item:nth-child(2n + 1) {margin-left: 0;}
body.cms-home strong.product-item-name {line-height: 1.4;}

}
/* widget block */
/*burger menu */
.abs-add-clearfix:before, .abs-add-clearfix:after, .abs-add-fields .fieldset .actions-toolbar:before, .abs-add-fields .fieldset .actions-toolbar:after, .payment-method-braintree .hosted-date-wrap:before, .payment-method-braintree .hosted-date-wrap:after, .bundle-options-container .product-options-wrapper .field.choice .label:before, .bundle-options-container .product-options-wrapper .field.choice .label:after, .toolbar:before, .toolbar:after, .sidebar .product-items-images:before, .sidebar .product-items-images:after, .cart.table-wrapper .actions-toolbar:before, .cart.table-wrapper .actions-toolbar:after, .cart.table-wrapper .item-options:before, .cart.table-wrapper .item-options:after, .minicart-items .product-item>.product:before, .minicart-items .product-item>.product:after, .minicart-items .product-item-details .product .options.list:before, .minicart-items .product-item-details .product .options.list:after, .checkout-container:before, .checkout-container:after, .checkout-onepage-success:before, .checkout-onepage-success:after, .opc-estimated-wrapper:before, .opc-estimated-wrapper:after, .opc-wrapper .field.addresses:before, .opc-wrapper .field.addresses:after, .opc-block-summary .items-in-cart .product .item-options:before, .opc-block-summary .items-in-cart .product .item-options:after, .opc-block-summary .product-item .product-item-details:before, .opc-block-summary .product-item .product-item-details:after, .page-product-downloadable .product-add-form:before, .page-product-downloadable .product-add-form:after, .gift-item-block .content:before, .gift-item-block .content:after, .order-details-items .order-gift-message:before, .order-details-items .order-gift-message:after, .order-details-items .block-order-details-gift-message:before, .order-details-items .block-order-details-gift-message:after, .block-giftregistry-shared-items .product .item-options:before, .block-giftregistry-shared-items .product .item-options:after, .gift-wrapping-list:before, .gift-wrapping-list:after, .opc-wrapper .data.table .gift-wrapping .content:before, .opc-wrapper .data.table .gift-wrapping .content:after, .table-order-items .gift-wrapping .content:before, .table-order-items .gift-wrapping .content:after, .order-options .product:before, .order-options .product:after, .map-popup .map-info-price:before, .map-popup .map-info-price:after, .multicheckout .item-options:before, .multicheckout .item-options:after, .multicheckout .block:before, .multicheckout .block:after, .multicheckout .block-content:before, .multicheckout .block-content:after, .customer-review .product-details:before, .customer-review .product-details:after, .form-create-return .actions-toolbar:before, .form-create-return .actions-toolbar:after, .header.content:before, .header.content:after, .form-giftregistry-share .fieldset .actions-toolbar:before, .form-giftregistry-share .fieldset .actions-toolbar:after, .form-giftregistry-edit .fieldset .actions-toolbar:before, .form-giftregistry-edit .fieldset .actions-toolbar:after, .form-add-invitations .fieldset .actions-toolbar:before, .form-add-invitations .fieldset .actions-toolbar:after, .form-create-return .fieldset .actions-toolbar:before, .form-create-return .fieldset .actions-toolbar:after, .form.send.friend .fieldset .actions-toolbar:before, .form.send.friend .fieldset .actions-toolbar:after {
	content: '';
    display: table;
}

@media only screen and (max-width: 767px) {
.nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgb(50 50 50 / 75%);
    -moz-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
    box-shadow: 0 0 5px 0 rgb(50 50 50 / 75%);
    left: 0;
    z-index: 99;
}
.nav-sections {
    background: #f0f0f0;
}
.nav-sections {
	    z-index: 9999;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px);
}
.nav-sections-items {
    position: relative;
    z-index: 1;
}
.nav-sections-items:before, .nav-sections-items:after {
    content: '';
    display: table;
}
.nav-sections-item-content:before, .nav-sections-item-content:after {
    content: '';
    display: table;
}
.nav-sections-item-title.active {
    background: transparent;
    border-bottom: 0;
}
.nav-sections-item-title {
    background: #e3e3e3;
    border: solid #d7d7d7;
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    float: left;
    height: 71px;
    padding-top: 24px;
    text-align: center;
    width: 33.33%;
}
.nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 71px;
    width: 100%;
    padding: 25px 0;
}
.navigation {
    background: #f0f0f0;
    box-sizing: border-box;
}
.navigation {
    padding: 0;
}
.nav-sections .header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
    border-bottom: 1px solid #d1d1d1;
}
.nav-sections .header.links li {
    font-size: 1.6rem;
    margin: 0;
}
.nav-sections .header.links li.greet.welcome {
    border-top: 1px solid #d1d1d1;
    font-weight: 700;
    padding: .8rem 20px;
}
.nav-sections .header.links li {
    font-size: 1.6rem;
    margin: 0;
}
.nav-sections .header.links li>a {
    border-top: 1px solid #d1d1d1;
}
.nav-sections .header.links a, .nav-sections .header.links a:hover {
    color: #575757;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: .8rem 20px;
}
.nav-sections-item-content:after {
    clear: both;
}
.nav-sections-items:after {
    clear: both;
}
.nav-sections-items {
    position: relative;
    z-index: 1;
}
.nav-sections .switcher:last-child {
    border-bottom: 1px solid #d1d1d1;
}
.nav-sections .switcher {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: .8rem 3.5rem .8rem 2rem;
}
.nav-sections .switcher .label {
    display: block;
    margin-bottom: 5px;
}
[role="button"] {
    cursor: pointer;
}
.nav-sections .switcher-trigger strong {
    position: relative;
    display: block;
    text-decoration: none;
}
.nav-sections .switcher-trigger strong:after {
    font-size: 1.6rem !important;
    right: -25px;
    top: -2px;
}
.nav-sections .switcher-trigger strong:after {
    position: absolute;
    /* right: -40px; */
    top: -16px;
}
.nav-sections .switcher-trigger strong:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.nav-sections .switcher-dropdown {
    margin: 0;
    padding: 0;
    list-style: none none;
    display: none;
    padding: 10px 0;
}
.nav-open .nav-toggle:after {
    background: rgba(0,0,0,0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav-sections .switcher-trigger.active strong:after {
    content: '\e621';
}

.nav-toggle:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    line-height: inherit;
    color: #757575;
    content: '\e609';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.navigation {
    background: #fff;
    box-sizing: border-box;
}.navigation {
    padding: 0;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation .level0 {
    font-size: 1.6rem;
    color:#000;
}
.navigation .level0.active>a:not(.ui-state-active), .navigation .level0.has-active>a:not(.ui-state-active) {
    border-color: #2f6b17;
}
.navigation .level0>.level-top {
font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
}
.navigation .level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon), .navigation .level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon) {
    margin-left: -8px;
}
.navigation .parent .level-top:after {
    font-size: 1.6rem;
    right: 10px;
    top: 7px;
}
.navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: -8px;
}
.navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.navigation .parent .level-top.ui-state-active:after {
    content: '\e621';
}
.navigation .level0 {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    list-style: none;
}
.navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    top: auto !important;
    transition: left .3s ease-out;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation .submenu>li {
    word-wrap: break-word;
}
.navigation li {
    margin: 0;
}
.navigation .level0.active .all-category .ui-state-focus {
    border-color: #2f6b17;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
    padding-left: 7px;
    display: inline-block;
}
.navigation .submenu:not(:first-child)>li>a {
    padding-left: 15px;
}
.navigation a, .navigation a:hover {
    color: #000;
    text-decoration: none;
}
.navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
}
.nav-mobile li.level0>a {
    padding: 0 20px;
    position: static;
    line-height: 45px;
    float: left;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-mobile .caret {
    display: none;
}
.ves-megamenu .opener {
    position: absolute;
    right: 0;
    padding: 20px;
    top: 0;
    font: normal normal normal 14px/1 FontAwesome;
}
.ves-megamenu .opener:before {
    content: "\f067";
}
.ves-megamenu .opener.item-active:before {
    content: "\f068";
}
.panel.header .links, .panel.header .switcher {
    display: none;
}
.page-header .switcher strong, .page-footer .switcher strong {
    font-weight: 400;
}
.page-header .switcher .options, .page-footer .switcher .options {
    display: inline-block;
    position: relative;
}
.page-header .switcher .options .action.toggle, .page-footer .switcher .options .action.toggle {
    padding: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.page-header .switcher .options ul.dropdown {
    right: 0;
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown {
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #fff;
    border: 1px solid #bbb;
    margin-top: 4px;
    min-width: 160px;
    z-index: 100;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
}
.page-header .switcher .options ul.dropdown li, .page-footer .switcher .options ul.dropdown li {
    margin: 0;
    padding: 0;
}
.page-header .switcher .options ul.dropdown a, .page-footer .switcher .options ul.dropdown a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px;
}
.page-header li.customer-welcome button.action.switch {
    display: none;
}
}
.minicart-items .update-cart-item {
    font-size: 1.1rem;
    vertical-align: top;
}
button, a.action.primary {
    border-radius: 3px;
}
button {
    background-image: none;
    background: #eee;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 7px 15px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
}
@font-face{font-family:'luma-icons';src:url('../fonts/Luma-Icons.woff2') format('woff2'),url('../fonts/Luma-Icons.woff') format('woff');font-weight:normal;font-style:normal;font-display:swap} 
